body {
    font-family: Arial, sans-serif;
    background-color: #eff1fa;
    color: #212529;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container.fluid {
    max-width: 1300px;
}

@media(min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.espacio-entrada, .espacio-resultado {
    flex: 1;
}

.logo {
    
    margin-top: 16px;
    margin-bottom: 16px;
    width: 5vh;
    height: 6vh;
}

.logo img {
    width: 100%;
}

#areaTextoInput, #resultadoTexto{
    border: none;
    height: -webkit-fill-available;
    padding: 10px;
    font-size: 16px;
    border-radius: 3rem;
    background-color: #fff;
    resize: none;
    overflow: hidden;
}

#areaTextoInput::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#areaTextoInput {
    overflow-y: scroll;
}

#areaTextoInput::-webkit-scrollbar {
    display: none;
}

#areaTextoInput{
    background-color: transparent;
}

#areaTextoInput:focus-visible{
    outline-style: none;
    outline-color: transparent;
}

#resultadoTexto{
    text-align: center;
}

.pista {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 16px;
    display: inline-flex
}

.icono-alerta {
    margin-right: 8px;
}

.groupo-button {
    display: flex;
    gap: 10px;
}

button, #cifrarButton {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#descifrarButton {
    background-color: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}

#copiarButton {
    width: 200px;
}

.res {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 3rem;
    height: 60vh;
}

#resultadoTexto {
    margin-bottom: 16px;
}

footer{
    text-align: center;
}