:root {
    --dark-blue-100: #609ed4;
    --dark-blue-200: #356ea9;
    --dark-blue-300: #0a3871;
    --dark-blue-400: #072b61;
    --dark-blue-500: #052051;
    --light-blue-100: #f3f4fc;
    --light-blue-200: #eff1fa;
    --light-blue-300: #e9ecf8;
    --light-blue-400: #aab2d5;
    --light-blue-500: #757fb2;
    --gray-100: #ced4da;
    --gray-200: #adb4bd;
    --gray-300: #868e96;
    --gray-400: #495057;
    --gray-500: #343a40;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--light-blue-200);
    color: var(--dark-blue-200);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container.fluid {
    max-width: 1300px;
}

@media(min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.espacio-entrada {
    flex: 1;
} 

.espacio-resultado {
    flex: 0.5;
}

.logo {
    
    margin-top: 16px;
    margin-bottom: 16px;
    width: 5vh;
    height: 6vh;
}

.logo img {
    width: 100%;
}

#areaTextoInput, #resultadoTexto{
    border: none;
    height: -webkit-fill-available;
    padding: 20px;
    font-size: 16px;
    border-radius: 3rem;
    background-color: var(--light-blue-100);
    resize: none;
    overflow: hidden;
}

#areaTextoInput::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#areaTextoInput {
    overflow-y: scroll;
}

#areaTextoInput::-webkit-scrollbar {
    display: none;
}

#areaTextoInput{
    color: var(--dark-blue-200);
    font-size: 1.8rem;
    background-color: transparent;
}

#areaTextoInput:focus-visible{
    outline-style: none;
    outline-color: transparent;
}

#resultadoTexto{
    color: var(--gray-500);
    text-align: left;
    text-wrap: pretty;
    background-color: #fff;
}

.espacio-resultado .res{
    background-color: #fff;
}

.pista {
    font-size: 14px;
    color: var(--gray-400);
    margin-bottom: 16px;
    display: inline-flex
}

.icono-alerta {
    margin-right: 8px;
}

.grupo-button {
    padding: 10px;
    display: flex;
    gap: 20px;
}

button, #cifrarButton {
    flex: 1;
    padding: 20px 20px;
    font-size: 16px;
    color: var(--light-blue-100);
    background-color: var(--dark-blue-400);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#descifrarButton {
    background-color: var(--light-blue-300);
    color: var(--dark-blue-400);
    border: 2px solid var(--dark-blue-400);
}

#copiarButton {
    display: none;
    width: 200px;
    align-self: center;
    background-color: var(--light-blue-300);
    color: var(--dark-blue-400);
    border: 2px solid var(--dark-blue-400);
}

.res {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 3rem;
    height: 60vh;
}

#resultadoTexto {
    margin-bottom: 16px;
}

footer{
    text-align: center;
}